Repository zlatanpham/t3-boilerplate: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint --fix, prettier --write

chore: upgrade packages
  package.json
  pnpm-lock.yaml
Due: prettier --write

chore: upgrade packages
  .gitignore
  eslint.config.js
  package.json
  pnpm-lock.yaml
  prisma.config.ts
  prisma/schema.prisma
  src/components/ui/sidebar.tsx
  src/server/auth/config.ts
  src/server/db.ts
  tsconfig.json
Due: eslint --fix, prettier --write

chore: upgrade packages (#1)
  .gitignore
  eslint.config.js
  package.json
  pnpm-lock.yaml
  prisma.config.ts
  prisma/schema.prisma
  src/components/ui/sidebar.tsx
  src/server/auth/config.ts
  src/server/db.ts
  tsconfig.json
Due: eslint --fix, prettier --write

chore: remove claude agents
  .claude/agents/business-analyst-requirements.md
  .claude/agents/senior-fullstack-architect.md
  .claude/agents/ui-engineer.md
  .claude/settings.local.json
Due: prettier --write

chore: remove /assets
  assets/api-key.webp
  assets/chat.webp
  assets/project.webp
  assets/tool.webp
Due: none

chore: upgrade packages and fix Turbopack client bundling issue
  next.config.js
  package.json
  pnpm-lock.yaml
  src/components/ui/chart.tsx
  src/server/api/types.ts
  src/server/db.ts
  src/trpc/react.tsx
Due: eslint --fix, prettier --write

Path conditions:
  eslint --fix: any of: *.{js,jsx,ts,tsx}
  prettier --write: (any of: *.{js,jsx,ts,tsx}) or (any of: *.{json,md,mdx,css,html,yml,yaml,scss})
